<div ng-controller="FormPasswordController as formPassword">
  <h2 ng-show="formPassword.isNew">{{'create' | i18next}} {{'password' | i18next}}</h2>
  <h2 ng-hide="formPassword.isNew">{{'edit' | i18next}} {{'password' | i18next}}</h2>

  <div ng-hide="formPassword.loaded">
    <ion-spinner></ion-spinner>
  </div>

  <form ng-submit="formPassword.save()" ng-show="formPassword.loaded">
    <div class="list">
      <label class="item item-input">
        <span class="input-label">{{'title' | i18next}}</span>
        <input type="text" ng-model="formPassword.entity.title">
      </label>
      <label class="item item-select item-input">
        <span class="input-label">{{'category' | i18next}}</span>
        <select ng-model="formPassword.entity.category" ng-options="category.uuid as category.name for category in formPassword.categories">
          <option value=""></option>
        </select>
      </label>
      <label class="item item-input">
        <span class="input-label">{{'username' | i18next}}</span>
        <input type="text" ng-model="formPassword.entity.username" />
      </label>
      <label class="item item-input">
        <span class="input-label">{{'password' | i18next}}</span>
        <input type="password" ng-model="formPassword.entity.password" />
      </label>

      <div class="item item-divider">
        {{'informations' | i18next}}
      </div>

      <div ng-repeat="information in formPassword.entity.informations">
        <div class="item item-input item-form-information">
          <div class="input-label">
            <input type="text" ng-model="information.name" placeholder="{{ 'name' | i18next }}..." ng-keyup="formPassword.refreshInformations()" />
          </div>
          <input type="text" ng-model="information.value" placeholder="{{ 'value' | i18next }}..." ng-keyup="formPassword.refreshInformations()" />
        </div>
      </div>
    </div>

    <div>
      <div class="alert alert-success" ng-class="{hide: !formPassword.successMessage}" ng-bind-html="formPassword.successMessage"></div>

      <div class="alert alert-danger" ng-class="{hide: !formPassword.errorMessage}" ng-bind-html="formPassword.errorMessage"></div>

      <button type="submit" class="button button-balanced button-block">
        {{'save' | i18next}}
      </button>
    </div>
  </form>
</div>