<div ng-controller="ListPasswordController as listPassword">
  <div class="row row-options">
    <div class="col col-20">
      <button class="button button-balanced button-block icon-left ion-plus" ui-sref="dashboard.create_password({'category': listPassword.categoryUUID})">
        {{'password' | i18next}}
      </button>
    </div>
    <div class="col col-20" ng-show="listPassword.categoryUUID">
      <button class="button button-default button-block icon-left ion-gear-b" ng-click="indexCategory.manageCategory()">
        {{'category' | i18next}}
      </button>
    </div>
    <div class="col">
      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Search" ng-model="listPassword.filterText" ng-model-options="{ debounce: 500 }">
        </label>
      </div>
    </div>
  </div>

  <div ng-hide="listPassword.loaded">
    <ion-spinner></ion-spinner>
  </div>
  <div ng-show="listPassword.loaded" class="password-list">
    <div ng-show="listPassword.filteredPasswords.length > 0">
      <div class="card password-card" ng-repeat="password in listPassword.filteredPasswords">
        <div class="item item-divider ">
          {{ password.title }}
        </div>
        <div class="item item-icon-left item-input">
          <span class="input-label">
            <i class="icon ion-ios-person"></i> <label>{{'username' | i18next}}: </label>
          </span>
          <input type="text" ng-model="password.username" ps-select-all readonly />
        </div>
        <div class="item item-icon-left item-input">
          <span class="input-label">
            <i class="icon ion-ios-locked"></i> <label>{{'password' | i18next}}: </label>
          </span>
          <input type="{{password.show_password ? 'text' : 'password'}}"  ng-model="password.password" ps-select-all readonly />
          <button class="button button-stable button-small" ng-hide="password.show_password" ng-click="password.show_password = true">
            {{'show' | i18next}}
          </button>
          <button class="button button-stable button-small" ng-show="password.show_password" ng-click="password.show_password = false">
            {{'hide' | i18next}}
          </button>
        </div>
        <div ng-show="password.informations.length > 0">
          <div class="item item-icon-left item-input" ng-repeat="information in password.informations" ng-show="password.show_more_information">
            <span class="input-label">
              <label>{{ information.name }}: </label>
            </span>
            <input type="text" ng-model="information.value" ps-select-all readonly />
          </div>
        </div>
        <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" ng-click="password.show_more_information = !password.show_more_information" ng-show="password.informations.length > 0">
            <i class="icon ion-information-circled"></i>
            <span ng-bind="(password.show_more_information ? 'hide_information' : 'more_information') | i18next">Teste</span>
          </a>
          <a class="tab-item" ui-sref="dashboard.edit_password({'password': password.uuid})">
            <i class="icon ion-edit"></i>
            {{'edit' | i18next}}
          </a>
          <a class="tab-item" ng-click="listPassword.showRemovePassword(password)">
            <i class="icon ion-trash-a"></i>
            {{'remove' | i18next}}
          </a>
        </div>
      </div>
    </div>
    <div ng-show="listPassword.filteredPasswords.length == 0">
      {{'no_results_found' | i18next}}
    </div>
  </div>
</div>